# Configuration file

general {
    # Can Blackhole Frozen.
    B:canBlackholeFrozen=true

    # Can Blackhole Lighting.
    B:canBlackholeLightning=true

    # Can Blackhole suck Block.
    B:canBlackholeSuckBlock=true

    # Can Blackhole suck Entity.
    B:canBlackholeSuckEntity=true

    # Record buffer size (byte).
    B:enableNoBlackholeMode=1024
}


